<div data-role="view"
     data-layout="profissional-title-settings-layout">
    <div class="container-fluid" style="padding-top:20px;">
        asdf
        <div class="row" style="background-color:lightgrey;min-height: 80px;padding:15px;" >
            <img class="img-circular col-xs-3" style="background-image: url(http://intuitivus.com.br/assets/site/imgs/entrepreneur.png);">
            <a class="col-xs-9">teste</a>
            <img class="col-xs-3" src="../../images/oltask_aplicativo_icon_confirmar.png"/>
        </div>
        

   

    </div>
</div>