<div id="profissional-pos-cadastro"
     data-role="view"
     data-model="CadastroProfissionalModel"
     data-layout="none"
     style="
     position:absolute;
     top:0;
     bottom: 0;
     width: 100%;">

    <div class="container-fluid" style="margin-top: 30px; height: calc(100% - 130px);">
        <div class="row">

            <div class="col-xs-12">
                <div class="text-center">
                    <img src="images/oltask_app_login_marca_branca_top.png" />
                </div>
            </div>
        </div>


        <div style="height:100%; width: 100%; display: table;">
            <div style="display: table-cell; vertical-align: middle;">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="text-center" style="font-size:1em; color:white; font-style:italic; margin-top:10%;">
                            <p><label class="text-medium-italic">Parabéns,</label></p>
                            <p><label class="text-medium-italic" data-bind="text: novoProfissional.Name"></label></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img height="150" src="images/profissional_icon_on.png" alt="">
                    </div>
                </div>

                <div class="text-center" style="font-size:1em; color:white; font-style:italic;">
                    <p><label class="text-medium-italic">Seu cadastro foi</label></p>
                    <p><label class="text-medium-italic">realizado com sucesso!</label></p>
                </div>

                <div class="row" style="margin: 1em;">
                    <div class="col-xs-4" style="padding:0 5px 0 0; font-size:2em; text-align:center; color:white;">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="col-xs-4" style="padding:0 2.5px 0 2.5px; font-size:2em; text-align:center; color:white;">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="col-xs-4" style="padding:0 0 0 5px; font-size:2em; text-align:center; color:white;">
                        <i class="fa fa-google-plus"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="row" style="height:50px;">
            <div class="col-xs-12">
                <a data-role="button" class="btn btn-block btn-acessar-perfil text-medium" data-bind="click: logar"><b>ACESSAR MINHA CONTA</b></a>
            </div>
        </div>

    </div>
</div>