<div data-role="view"
     data-title="Configurações"
     data-layout="profissional-back-layout"
     data-transition="overlay:up">

    <div class="panel-group container" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 1.5em;">
        <div>
            <a class="collapsed" data-toggle="collapse"
               data-parent="#accordion"
               href="#collapseOne"
               aria-expanded="false"
               aria-controls="collapseOne">

                <label class="label-cliente-settings-headers">Informações pessoais</label>

            </a>

            <div id="collapseOne"
                 class="panel-col  lapse collapse"
                 role="tabpanel"
                 aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-map-marker" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                            <label style="font-size:2em;">RJ</label>
                            <label>Rio de Janeiro</label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-birthday-cake" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;;"></i>
                            <label>10 de outubro de 2015</label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-at" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                            <label>email@email.com</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0.5em;">
                        <div class="col-xs-12">
                            <i class="fa fa-mobile" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                            <label>(99) 9999 9999</label>
                        </div>
                    </div>
                    <div class="row" style="margin-top:0.5em;">
                        <div class="col-xs-12">
                            <i class="fa fa-phone" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                            <label>(99) 9999 9999</label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-home" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                            <label style="margin-left:0.5em;">Empresa onde trabalha</label>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a class="btn btn-green" style="font-size:1em !important;" data-role="button;">Salvar alterações</a>
                </div>
            </div>

        </div>
        <hr>
        <div>
            <a class="collapsed" data-toggle="collapse"
               data-parent="#accordion"
               href="#collapseOne"
               aria-expanded="false"
               aria-controls="collapseOne">

                <label class="label-cliente-settings-headers">Informações profissionais</label>

            </a>
            </div>
        <hr >
            <div>
                <a class="collapsed"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   href="#collapseTwo"
                   aria-expanded="false"
                   aria-controls="collapseTwo">

                    <label class="label-cliente-settings-headers">Dados de Acesso</label>


                </a>

                <div id="collapseTwo"
                     class="panel-collapse collapse"
                     role="tabpanel"
                     aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="fa fa-user" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                                <label style="margin-left:0.5em;">login</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <i class="fa fa-lock" style="font-size: 1.5em;margin-right:0.5em;color: lightgrey;padding-top: 5px;width: 30px;text-align:center;"></i>
                                <label style="margin-left:0.5em;">**********</label>
                            </div>
                        </div>

                    </div>
                    <div class="text-right">
                        <a class="btn btn-green" style="font-size:1em !important;" data-role="button;">Salvar alterações</a>
                    </div>
                </div>

            </div>
            <hr>
            <div>
                <a class="collapsed"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   href="#collapseThree"
                   aria-expanded="false"
                   aria-controls="collapseThree">
                    <label class="label-cliente-settings-headers">Mídias sociais conectadas</label>
                </a>

                <div id="collapseThree"
                     class="panel-collapse collapse"
                     role="tabpanel"
                     aria-labelledby="headingThree">
                    <div class="panel-body">
                        <div class="row">
                            <img src="images/oltask_aplicativo_facebook_circle.png" />
                            <label style="margin-left:0.5em;">Facebook</label>
                        </div>
                        <hr>
                        <div class="row">
                            <img src="images/oltask_aplicativo_google_circle.png" />
                            <label style="margin-left:0.5em;">Google</label>
                        </div>
                        <hr>
                        <div class="row">
                            <img src="images/oltask_aplicativo_twitter_circle.png" />
                            <label style="margin-left:0.5em;">Twitter</label>
                        </div>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-green" style="font-size:1em !important;" data-role="button;">Salvar alterações</a>
                    </div>

                </div>

            </div>

        </div>

</div>